@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Two'), local('LobsterTwo'), url(fonts/LobsterTwo.woff) format('woff');
}
@font-face {
  font-family: 'Lobster Two Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Lobster Two Bold'), local('LobsterTwo-Bold'), url(fonts/LobsterTwo-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Lobster Two Italic';
  font-style: italic;
  font-weight: 400;
  src: local('Lobster Two Italic'), local('LobsterTwo-Italic'), url(fonts/LobsterTwo-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Lobster Two Bold Italic';
  font-style: italic;
  font-weight: 700;
  src: local('Lobster Two Bold Italic'), local('LobsterTwo-BoldItalic'), url(fonts/LobsterTwo-BoldItalic.woff) format('woff');
}

body
{
  background-color: #efefef;
  color: #333;
  font-family: Tahoma, Arial;
  font-size: .8em;
}
a, a:link, a:visited { color: #516cdb; }
a:hover { color: #2744be;}

h1, h2, h3, h4, h5, h6 { color: #86361b; font-family: "Lobster Two"; }
/*
h1 { font-size: 58px;}
h2 { font-size: 34px;}
h3 { font-size: 20px;}
h4 { font-size: 16px;}
h5 { font-size: 14px;}
h6 { font-size: 12px;}
*/

.list_bullet li { color:#333;}
.list_bullet li a:hover { color: #000; }

#site_title a { color: #4e610f; display: inline-block;}
#site_title a h1 {max-width: 3em;}
#site_title a img { max-width: 3em; height: auto;}

#site_title ul.menu {float:right; list-style: none; margin-left: 1.5em;}
#site_title ul.menu li {display: inline-block; margin-right: .8em;}
#site_title ul.menu li a {color:#4e610f; display: inline-block; font-weight: bold; margin-left: 1em; letter-spacing: 0;}
#site_title ul.menu li a:hover{color:#1c2305;}

/*.color1 { background: #d0b500 }
.color2 { background: #c75000 }
.color3 { background: #00afce }
.color4 { background: #a4c700 }
*/
.color1:hover {background-color: #c92924;}
.color2:hover {background-color: #00afce;}
.color3:hover {background-color: #a4c700;}
.color4:hover {background-color: #c75000;}

.color5 {background-color: #c92924;}
.color5:hover {background-color: #d0b500;}
.section { overflow: auto;}
#contact_form form .input_field_large { width: 320px;}
#social_links a { display: inline; float: none; margin-left: 0;}
#social_links h3 { color: white; font-size: 2em;}

a.agregar {
  background-color: #575757;
  padding:  1em;
  color: #fff;
  font-weight: bold;
  border-right: 2px solid #333;
  text-align:center;
  display:block;
}
a.agregar:hover {
  background-color: #999999;
}

#form form textarea { 
  clear: both;
  width: 95%; 
  padding: 5px; 
  color: #CCC;
  border: 1px solid #666; 
  font-family: Arial, Helvetica, sans-serif; 
  background: #222; 
  margin-bottom: 10px;
}

#form { padding: 0; width: 100% }

#form form { margin: 0px; padding: 0px; }

#form form .input_field { width:50%; padding: 5px; color: #CCC; border: 1px solid #666;  background: #222; margin-bottom: 10px; }

#form form label { display: block;font-size: 11px }

#form form .submit_btn { font-size: 12px; background: #333; color: #CCC; cursor:pointer; border: 1px solid #666; padding: 5px 10px; }

#form form small { font-size: .9em; color: #aaa; display: block;}

#form form img { display: block; max-width: 100%; max-height: auto;}

.success{padding: 1em;background-color: #33bb33;text-align: center;font-weight: bold;color: white;}
/* -------------------------------------------------------
Author: Vitaly Friedman
Theme: Green Life - A Fresh, Warm and Readable Table
URL: http://www.alvit.de/vf
-------------------------------------------------------
*/
 
    table {
      font: 11px verdana,verdana, arial;
      margin: 0;
      padding: 0;
      border-collapse: collapse;
      text-align: left;
      color: #333;
      line-height: 19px;
      width: 99.99%;
    }
    
    caption {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: left;
      text-transform: uppercase;
    }
    
    td {
      margin: 0;
      padding: 20px 10px;
      border: 1px dotted #f5f5f5;
    }
    
    
    th {
      font-weight: normal;
      text-transform: uppercase;
    }
    
    thead tr th {
      background-color: #575757;
      padding:  20px 10px;
      color: #fff;
      font-weight: bold;
      border-right: 2px solid #333;
      text-transform: uppercase;
      text-align:center;
    }
    
    tfoot tr th, tfoot tr td {
      background-color: transparent;
      padding:  20px 10px;
      color: #ccc;
      border-top: 1px solid #ccc;
    }
    
    tbody tr th {
      padding: 20px 10px;
      border-bottom: 1px dotted #fafafa;
    }
    
    tr { 
      background-color: #FBFDF6;
    }
    tr.odd {
      background-color: #EDF7DC;
    }
    
    tr:hover {
    }
    
    tr:hover td, tr:hover td a, tr:hover th a {
      color: #a10000;
    }
    
    td:hover {
    }

    tr:hover th a:hover {
      background-color: #F7FBEF;
      border-bottom: 2px solid #86C200;
    }
    
    table a {
      color: #608117;
      background-image: none;
      text-decoration: none;
      border-bottom: 1px dotted #8A8F95;
      padding: 2px;
      padding-right: 12px; background: transparent url(http://www.alvit.de/vf/csstablegallery/link.gif) no-repeat 100% 50%;
    }

    table a:hover {
      color: #BBC4CD;
      background-image: none;
      text-decoration: none;
      border-bottom: 3px solid #333;
      padding: 2px;
      padding-right: 12px; color: #A2A2A2; background: transparent url(http://www.alvit.de/vf/csstablegallery/link.gif) no-repeat 100% 50%;
    }
    
    table a:visited {
      text-decoration: none;
      border-bottom: 1px dotted #333;
      text-decoration: none;
      padding-right: 12px; color: #A2A2A2; background: transparent url(http://www.alvit.de/vf/csstablegallery/visitedLink.gif) no-repeat 100% 50%;
    }
    
    table a:visited:hover {
      background-image: none;
      text-decoration: none;
      border-bottom: 3px solid #333;
      padding: 2px;
      padding-right: 12px; color: #A2A2A2; background: transparent url(http://www.alvit.de/vf/csstablegallery/visitedLink.gif) no-repeat 100% 50%;
    }

